.news__header{
    font-family: "Roboto-Slab";
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;
color: #1A1B22;
margin-top: 0;
margin-bottom: 0;
}
@media (max-width: 900px) and (min-width: 768px){
    .news__header{
        font-size: 30px;
        line-height: 34px;
    }
}
