.card__footer{
    font-family: "Roboto-Slab";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #B6BCBF;
margin: 18px auto 24px;
max-width: 352px;
}
@media (max-width: 1260px) and (min-width: 768px){
    .card__footer{
        max-width: 192px;
    }
}