.card__heading{
    font-family: "Roboto-Slab";
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
color: #1A1B22;
margin: 12px auto 0;
max-width: 352px;
}
@media (max-width: 1260px) and (min-width: 768px){
    .card__heading{
        max-width: 192px;
        font-size: 22px;
        line-height: 24px;
    }
}
@media (max-width: 700px) and (min-width: 320px){
  .card__heading{
    font-size: 22px;
    line-height: 26px;
    max-width: 256px;
    margin-top: 16px;
  }
}