<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="icon" href="./images/A.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Страница, которая по запросу производит поиск новостей за последнюю неделю">
  <meta name="author" content="Лапшин Никита">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <title>NewsAnalyzer</title>
</head>
<body>
  <section class="inputField">
  <header class="header header__black">
    <p class="title title__header title__header_white">NewsAnalyzer</p>
    <nav class="box">
        <a class="about about__white" href="#">Главная</a>
        <a class="about about__grey" href="./main.html">О проекте</a>
    </nav>
      </header>
       <div class="box-vertical">
        <h1 class="title title__main_white">Что в мире творится?</h1>
        <p class="text text__white">Введите в поиске любую тему и узнайте, насколько популярной она была в новостях за прошедшую неделю.</p>
        <div class="field__box">
          <input type="text" pattern="^[а-яА-ЯёЁ]+$" placeholder="Введите тему новости" class="field" required>
          <button class="button text text__white_button">Искать</button>
        </div>
       </div>
         </section>
         <section class="preloader">
          <i class="preloader__circle"></i>
          <p class="text text__grey">Идет поиск новостей...</p>
         </section>
         <section class="error">
           <img class="error__img" src="<%=require('./images/not-found_v1.png').default%>" alt="not found">
           <h1 class="title title__error">Ничего не найдено</h1>
           <p class="text text__grey">К сожалению по вашему запросу ничего не найдено.</p>
         </section>
         <section class="news">
           <div class="news__box">
           <h1 class="news__header">Результаты поиска</h1>
           <a href="./about.html" class="text news__text">Посмотреть аналитику <img class="news__arr" src="<%=require('./images/back.png').default%>" alt="arrow"></a>
           </div>
           <div class="news__container">
             <!-- <div class="card">
               <img class="card__image" src="<%=require('./images/image_08.png').default%>" alt="image">
               <div>
               <p class="card__date">2 августа, 2019</p>
               <h3 class="card__heading">Национальное достояние – парки</h3>
               <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
               <p class="card__footer">Лента.ру</p>
              </div>
             </div>
             <div class="card">
              <img class="card__image" src="<%=require('./images/image_04.png').default%>" alt="image">
              <div>
              <p class="card__date">2 августа, 2019</p>
              <h3 class="card__heading">Лесные огоньки: история одной фотографии</h3>
              <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
              <p class="card__footer">Медуза</p>
              </div>
            </div>
            <div class="card">
              <img class="card__image" src="<%=require('./images/image_07.png').default%>" alt="image">
              <div>
              <p class="card__date">2 августа, 2019</p>
              <h3 class="card__heading">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
              <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
              <p class="card__footer">Риа</p>
              </div>
            </div>
            <div class="card">
              <img class="card__image" src="<%=require('./images/image_06.png').default%>" alt="image">
              <div>
              <p class="card__date">2 августа, 2019</p>
              <h3 class="card__heading">Национальное достояние – парки</h3>
              <p class="card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков – охраняемых территорий, где и сегодня каждый может приобщиться к природе.</p>
              <p class="card__footer">Дзен</p>
              </div>
            </div>
            <div class="card">
              <img class="card__image" src="<%=require('./images/image_01.png').default%>" alt="image">
              <div>
              <p class="card__date">2 августа, 2019</p>
              <h3 class="card__heading">Лесные огоньки: история одной фотографии</h3>
              <p class="card__text">Фотограф отвлеклась от освещения суровой политической реальности Мексики, чтобы запечатлеть ускользающую красоту одного из местных чудес природы.</p>
              <p class="card__footer">Афиша</p>
              </div>
            </div>
            <div class="card">
              <img class="card__image" src="<%=require('./images/image_05.png').default%>" alt="image">
              <div>
              <p class="card__date">2 августа, 2019</p>
              <h3 class="card__heading">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
              <p class="card__text">Знаменитый фотограф снимает первозданные леса России, чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
              <p class="card__footer">Медиазона</p>
              </div>
            </div> -->
           </div>
           <button class="news__button news__button_white">Показать еще</button>
         </section>
         <section class="author"> 
          <img src="<%=require('./images/image-03.png').default%>" alt="Lapshin Nikita" class="image">
          <div class="box__author">
            <h1 class="title title__author">Об авторе</h1>
            <p class="text text__vertical">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
            <p class="text text__vertical">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
          </div>
          </section>
          <footer class="footer">
             <p class="footer__copyright">&copy;2020 Лапшин Никита</p>
             <nav class="footer__box">
               <a class="text text__black" href="./index.html">Главная</a>
               <a class="text text__black" href="./main.html">О проекте</a>
               <a class="text text__black" href="https://praktikum.yandex.ru/profile/frontend-developer/">Яндекс.Практикум</a>
             </nav>
             <nav class="footer__img">
               <a class="footer__logo" href="#"><img src="<%=require('./images/github.png').default%>" alt="Github" class="footer__logo"></a>
               <a class="footer__logo" href="#"><img src="<%=require('./images/fb.png').default%>" alt="Facebook" class="footer__logo"></a>
             </nav>
          </footer>
    
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>