<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="icon" href="./images/A.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Страница, которая по запросу производит поиск новостей за последнюю неделю">
  <meta name="author" content="Лапшин Никита">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <title>NewsAnalyzer</title>
</head>
<body>
        <header class="header header__white">  
            <p class="title title__header title__header_black">NewsAnalyzer</p>
            <nav class="box">
                <a class="about about__grey" href="./index.html">Главная</a>
                <a class="about about__black" href="#">О проекте</a>
            </nav>
        </header>
        <section class="client">
            <h1 class="title title__client">Клиентам</h1>
            <p class="text text__vertical">Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими технологиями владеет.</p>
            <p class="text text__vertical">Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также сайт проще и дешевле поддерживать.</p>
            <p class="text text__vertical">Карточки с новостями приходят с сервера и обрабатываются асинхронно. То есть сайт продолжает работать, пока от сервера приходит ответ. Это повышает удобство использования сервиса.</p>
            <p class="text text__vertical">При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов. Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если посетители — пользователи старых операционных систем, у них не будет проблем с отображением. А значит, потенциальная аудитория возрастает.</p>
            <p class="text text__vertical">Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к этому студенту.</p>
        </section>
        <section class="tech">
            <h1 class="title title__client tech__text">Используемые технологии</h1>
            <div class="tech__box">
            <div class="tech__container">
                <p class="text text__vertical">HTML</p>
                <img class="tech__img" src="<%=require('./images/html.png').default%>" alt="HTML">
            </div>
            <div class="tech__container">
                <p class="text text__vertical">CSS</p>
                <img class="tech__img" src="<%=require('./images/css.png').default%>" alt="CSS">
            </div>
            <div class="tech__container">
                <p class="text text__vertical">Java Script</p>
                <img class="tech__img" src="<%=require('./images/js.png').default%>" alt="Java Script">
            </div>
            <div class="tech__container">
                <p class="text text__vertical">Webpack</p>
                <img class="tech__img" src="<%=require('./images/webpack.png').default%>" alt="Webpack">
            </div>
            </div>
          </section>
         <section class="author"> 
          <img src="<%=require('./images/image-03.png').default%>" alt="Lapshin Nikita" class="image">
          <div class="box__author">
            <h1 class="title title__author">Об авторе</h1>
            <p class="text text__vertical">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
            <p class="text text__vertical">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
          </div>
          </section>
          <section class="slider">
            <div class="news__box">
              <h1 class="news__header">История коммитов из GitHub</h1>
              <a href="https://github.com/Nikita-hub000/diploma" class="text news__text news__text_none">Открыть в Github <img class="news__arr" src="<%=require('./images/back.png').default%>" alt="arrow"></a>
              </div>
                        <!-- Slider main container -->
                        <div class="swiper-container">
                          <div class="swiper-wrapper">
                            <!-- <div class="swiper-slide">
                              <p class="slider__header slider__header_white">14 августа, 2019</p>
                              <div class="slider__box">
                                <img src="<%=require('./images/image-slider1.png').default%>" alt="author" class="swiper__img">
                                <div class="slider__container">
                                  <h2 class="slider__author">Антон Долинин</h2>
                                  <p class="slider__header slider__header_black">anton@yandex.ru</p>
                                </div>
                              </div>
                              <p class="slider__text">Emmet (formerly Zen Coding) is a web- developer’s toolkit that can greatly improve your HTML & CSS workflow.</p>
                            </div>
                            <div class="swiper-slide">
                              <p class="slider__header slider__header_white">14 августа, 2019</p>
                              <div class="slider__box">
                                <img src="<%=require('./images/image-slider1.png').default%>" alt="author" class="swiper__img">
                                <div class="slider__container">
                                  <h2 class="slider__author">Мария Фёдорова</h2>
                                  <p class="slider__header slider__header_black">mariiifed@yandex.ru</p>
                                </div>
                              </div>
                              <p class="slider__text">You can install this plugin directly from NetBeans Plugin Portal: in NetBeans, open Tools > Plugins > Available plugins and find and install Emmet plugin.</p>
                            </div>
                            <div class="swiper-slide">
                              <p class="slider__header slider__header_white">14 августа, 2019</p>
                              <div class="slider__box">
                                <img src="<%=require('./images/image-slider1.png').default%>" alt="author" class="swiper__img">
                                <div class="slider__container">
                                  <h2 class="slider__author">Инга Иванова</h2>
                                  <p class="slider__header slider__header_black">ingaiva@yandex.ru</p>
                                </div>
                              </div>
                              <p class="slider__text">With Emmet, you can type CSS-like expressions that can be dynamically parsed, and produce output depending on what you type in the abb...</p>
                            </div> -->
                          </div>
                          <!-- Add Pagination -->
                          <div class="swiper-pagination"></div>
                          <!-- Add Arrows -->
                          <div class="swiper-button-next"></div>
                          <div class="swiper-button-prev"></div>
                        </div>
                         <button class="news__button news__button_none">Открыть в Github</button>
          </section>
          <footer class="footer">
             <p class="footer__copyright">&copy;2020 Лапшин Никита</p>
             <nav class="footer__box">
               <a class="text text__black" href="./index.html">Главная</a>
               <a class="text text__black" href="./main.html">О проекте</a>
               <a class="text text__black" href="https://praktikum.yandex.ru/profile/frontend-developer/">Яндекс.Практикум</a>
             </nav>
             <nav class="footer__img">
               <a class="footer__logo" href="#"><img src="<%=require('./images/github.png').default%>" alt="Github" class="footer__logo"></a>
               <a class="footer__logo" href="#"><img src="<%=require('./images/fb.png').default%>" alt="Facebook" class="footer__logo"></a>
             </nav>
          </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
  <script src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>