@import url(./__container/tech__container.css);
@import url(./__img/tech__img.css);
@import url(./__text/tech__text.css);
@import url(./__box/tech__box.css);
.tech{
    background: #F5F6F7;
    margin: 94px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 102px;
    padding-top: 80px;
}
@media (max-width: 900px) and (min-width: 768px){
    .tech{
        max-width: 900px;
        padding-top: 40px;
        padding-bottom: 40px;
        flex-direction: column;
    }
}
@media (max-width: 1260px) and (min-width: 901px){
    .tech{
        flex-direction: column;
    }
} 
@media (max-width: 767px) and (min-width: 320px){
    .tech{
        flex-direction: column;
        padding-bottom: 36px;
        padding-top: 32px;
    }
}